/* universal selector */
*{
    font-family: 'Franklin Gothic Medium';
}
/* element selector */
h1,h3{
    color:#b92b27;
}
/* id selector */
#login{
    background-color: white;
}
#signup{
    background-color: #b92b27;
    color:white;
}
/* class selector */
.upvote{
    background-color: pink;
    color:white;
}
/* descendent selector */
p a{
     background-color: pink;
     color:navy;
}
/* descendent selector */
nav ul li a{
    color:hotpink;
}
/* adjacent sibling combinator */
p+h3{
    color:red;
    text-decoration: underline;
}
/* child combinator */
div input{
    background-color: gold;
}
/* attribute selector */
input[type="text"]{
    color:#b92b27;
}
input[type="password"]{
    color:burlywood;
}
/* psuedo class */
button:hover{
    background-color: black;
    color:white;
}
input[type="radio"]:checked + label{
    color:red;
    font-weight: 100;
}   
/* pseudo element */
h1::first-letter{
    color:black;
}
p::first-line{
    color:#b92b27;
}
p::selection{
    color:rgb(117, 177, 28);
}