div{
    height: 200px;
    width: 800px;
    background-color: pink;
    border-width: 5px;
    border-style: solid;
    border-color: gray;
    border-radius:  100px;
    /* border-top:7px dashed green;
} */ 